*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: url(sn.png);
    margin: 0;
}

@keyframes comeandgo{
    0%{
        font-size: 0%;
        visibility: visible;
    }
    
    100%{
        font-size: 1000%;
    }
}

.first_anim h1{
    animation: comeandgo 3s alternate;
    font-size: 1000%;
    visibility: hidden;
    margin-top: 400px;
    
}

.first_anim{
    text-align: center;
}

@keyframes comeornot{
    0%{
        font-size: 0%;
        visibility: visible;
    }
    
    100%{
        font-size: 200%;
    }
}

.name p{
    animation: comeornot 3s alternate;

}
.name{
    text-align: center;
    visibility: hidden;
}

.start{
    position: fixed;
    left: 47%;
    top: 47%;
    visibility: hidden;
}

a{
    text-decoration: none;
    font-size: x-large;
    color: white;
}

.start button{
    border: none;
    border-radius: 50%;
    background: linear-gradient( #ffffb180,#bc506680,#3f425980);
    width: 130px;
    height: 130px;

}
